/* Generic Selectors */

body {
       font-family: Verdana, sans-serif;
       font-size: 14px;
       color: #333333;
       background-color: #FFF075;
       }

p {
    width: 80%;
    }

li {
     list-style-type: none;
     line-height: 150%;
     }

h1 {
     font-family: Verdana, sans-serif;
     text-align: center;
     font-size: 20px;
     font-weight: bold;
     color: #000000;
     width: 900px;
     padding:10px;
     border-bottom:1px solid black;
     margin:10px;
     }

h2 {
     font-family: Verdana, sans-serif;
     padding-left: 20px;
     font-size: 16px;
     font-weight: bold;
     color: #000000;
     
     }

h3 {
     font-family: Verdana, sans-serif;
     padding-left: 20px;
     font-size: 14px;
     font-weight: bold;
     color: #000000;
     }



/**************** Pseudo classes ****************/

a:link {
         color: #800000;
         text-decoration: underline;
         font-weight: bold;
         }

li :link {
           color: Brown;
           text-decoration: none;
           font-weight: bold;
           }

a:visited {
            color: #DAA520; /* visited */
            text-decoration: underline;
            font-weight: bold;
            }

li a:visited {
               color: #DAA520; /* visited List */
               text-decoration: none;
               font-weight: bold; 
               }

a:hover {
          color: rgb(0, 96, 255);
          font-weight: bold;
          text-decoration: underline; 
          }

li a:hover {
/*             display: block; */
             color: rgb(0, 96, 255);
/*             padding-bottom: 5px; */
             font-weight: bold; 

             }

a:active {
           color: rgb(255, 0, 102);
           font-weight: bold;
           }




/************************* ID's *************************/

#wrap { 
        width: 900px; 
        margin: 0 auto; 
        
        }

#navigation {
              position: absolute;
              width: 250px;
              height: 1200px;
              margin: 0;
              margin-top: 75px;
              
              border-right: 4px solid #964B00;
              font-weight: normal;

              border-style:solid;
              border-width:5px;
              border:2px solid;

              border-radius:25px;
              box-shadow: 10px 10px 5px #964B00;

              }

#centerDoc {
             position: absolute;
             
             margin-top: 50px;
             margin-left: 280px;
             width: inherit;
             
             
             padding-left: 15px;
             border:1px solid #333;
             background-color: #EEE8AA;
             }


